mfterm
.depends
.deps
*.o
*.a
*~
*.bak
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
compile
ylwrap
depcomp
install-sh
stamp-h1
missing
libdp_a-dictionary_parser.c
libsp_a-spec_tokenizer.c
libsp_a-spec_parser.c
libsp_a-spec_parser.h
debian/files
debian/mfterm.debhelper.log
debian/mfterm.substvars

